@model CompanyProfileViewModel

<footer class="site-footer">
    <div class="container">
        <div class="row gy-4" id="lien-he">
            <div class="col-12 col-md-6">
                <p class="fs-3 primary-color">MANAM - Đối Tác Y Tế Toàn Cầu</p>
                <p class="fs-6">MANAM là một đơn vị hỗ trợ tư vấn và bệnh nhân Việt Nam đi chữa bệnh tại nước ngoài chuyên nghiệp từ năm 2017, đặc biệt trong Ung thư và các bệnh khó phức tạp. MANAM còn nổi bật với kênh chính thức cung cấp dịch vụ cho các thư viện đầu thế giới của Mỹ. Nổi bật với các kênh quan hệ dành riêng cho các đối tác y tế danh tiếng toàn cầu.</p>
            </div>

            <div class="col-12 col-md-6">
                <p class="fs-3 primary-color">&nbsp;</p>
                <p class="fs-6"><i class="bi bi-pin-map-fill primary-color"></i> @Model.HeadquarterAddress</p>
                <p class="fs-6"><i class="bi bi-pin-map-fill primary-color"></i> @Model.Address</p>
                <p class="fs-6"><i class="bi bi-telephone-inbound primary-color"></i> @Model.Hotline1</p>
                <p class="fs-6"><i class="bi bi-envelope primary-color"></i> @Model.Email</p>
            </div>

        </div>
    </div>
</footer>