@model MenuViewModel

<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto align-items-lg-center">
        <li class="nav-item"><a class="nav-link" href="~/">TRANG CHỦ</a></li>
        <li class="nav-item dropdown" id="nav-services">
            <a class="nav-link dropdown-toggle" href="#" id="servicesToggle" role="button" aria-expanded="false">
                KHÁM CHỮA BỆNH NƯỚC NGOÀI
            </a>
            <ul class="dropdown-menu dropdown-mega" aria-labelledby="servicesToggle">
                @if (Model.MedicalServices != null)
                {
                    foreach (var item in Model.MedicalServices)
                    {
                        <li>
                            <a class="dropdown-item" href="@item.Url">HỖ TRỢ @item.Title</a>
                        </li>
                    }
                }
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="#lien-he">LIÊN HỆ</a></li>
        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
            <a href="#lien-he" class="btn btn-register"><i class="bi bi-telephone-inbound m-2"></i> @Model.PhoneNumber</a>
        </li>
    </ul>
</div>